/* CSS Document */

@media screen and (max-width: 768px) {

  .sign_up_button {
    text-align: center !important;
  }
}

input[type='submit'] {
  float: none !important;
}

#content {
  width: 100%;
}

#container {
  width: 80%;
  float: left;
}

#banner {
  float:left;
  width: 20%;
}

.areas_col {
  display: inline-flex;
}

@media screen and (max-width: 800px) {
  .areas_col {
    display: block;
  }

  .section_2 {
    margin-top: 0px;
  }

  .form-item-faculty-checkboxes-1 {
    margin-bottom: 0px !important;
  }

}

.form-item-faculty-checkboxes-1 {
  width: 50%;
}

.section_2 {
  margin-top: 2.48rem;
  width: 90%;
}

#edit-faculty-checkboxes-1 .form-item {
  margin-bottom: 0.7rem !important;
}

#edit-faculty-checkboxes-2 .form-item {
  margin-bottom: 0.7rem !important;
}


.chksubmittext {
	 float:left;
	 width:95%;
   padding-top:13px;
	 padding-bottom: 20px;
}

.chksubmit {
	float:left;
	width:25px;
}

ul {
	list-style-type: none;
}

#list_newsletter_type {
	list-style-type: none;
}

#autocomplete {
	background-color: #fff;
}
#autocomplete li {
	margin: 0;
}

#autocomplete li:hover {
    background-color: #C2DFFF;
}
